@font-face {
    font-family: 'RoadRage';
    src: url('../Fonts/RoadRage-Regular.ttf') format('truetype'); /* Chemin corrigé */
  }
  
  @font-face {
    font-family: 'Oswald-ExtraLight';
    src: url('../Fonts/static/Oswald-ExtraLight.ttf') format('truetype'); /* Chemin corrigé */
    font-weight: 200; /* ExtraLight */
  }
  
  @font-face {
    font-family: 'Oswald-Light';
    src: url('../Fonts/static/Oswald-Light.ttf') format('truetype'); /* Chemin corrigé */
    font-weight: 300; /* Light */
  }
  
  @font-face {
    font-family: 'Oswald-Regular';
    src: url('../Fonts/static/Oswald-Regular.ttf') format('truetype'); /* Chemin corrigé */
    font-weight: 400; /* Regular */
  }
  
  @font-face {
    font-family: 'Oswald-Medium';
    src: url('../Fonts/static/Oswald-Medium.ttf') format('truetype'); /* Chemin corrigé */
    font-weight: 500; /* Medium */
  }
  
  @font-face {
    font-family: 'Oswald-SemiBold';
    src: url('../Fonts/static/Oswald-SemiBold.ttf') format('truetype'); /* Chemin corrigé */
    font-weight: 600; /* SemiBold */
  }
  
  @font-face {
    font-family: 'Oswald-Bold';
    src: url('../Fonts/static/Oswald-Bold.ttf') format('truetype'); /* Chemin corrigé */
    font-weight: 700; /* Bold */
  }


*{
  &::-webkit-scrollbar{width: 5px; height: 0px; background-color: #025300;}
  &::-webkit-scrollbar-thumb{border-radius: 100px; width: 3px; border: 1px solid transparent; background-color: #0D962B;}
}

.text-stroke-3 {-webkit-text-stroke: 3px #ffffff;}
#effect-btn-VoirPlusDeBlog{
    border-radius: 50%;
    transition: all .3s ease;
}
#btn-VoirPlusDeBlog:hover #effect-btn-VoirPlusDeBlog{
    border-radius: 8px;
}

#Apropos article {
  scale: 0.2;
  opacity: 0;
}

.animation-apparition-a-propos-1{animation: apparition-a-propos .2s .0s  forwards ease-out;}
.animation-apparition-a-propos-2{animation: apparition-a-propos .2s .1s  forwards ease-out;}  
.animation-apparition-a-propos-3{animation: apparition-a-propos .2s .2s  forwards ease-out;}  
.animation-apparition-a-propos-4{animation: apparition-a-propos .2s .5s  forwards ease-out;}  
.animation-apparition-a-propos-5{animation: apparition-a-propos .2s .6s forwards ease-out;}  
.animation-apparition-a-propos-6{animation: apparition-a-propos .2s .7s forwards ease-out;}  
.animation-apparition-a-propos-7{animation: apparition-a-propos .2s 1.0s forwards ease-out;}  
.animation-apparition-a-propos-8{animation: apparition-a-propos .2s 1.1s forwards ease-out;}  
.animation-apparition-a-propos-9{animation: apparition-a-propos .2s 1.2s forwards ease-out;}  

.animation-apparition-a-propos-1.reverse{animation: apparition-a-propos-reverse .3s 1.8s forwards ease-out;}
.animation-apparition-a-propos-2.reverse{animation: apparition-a-propos-reverse .3s 1.6s forwards ease-out;}  
.animation-apparition-a-propos-3.reverse{animation: apparition-a-propos-reverse .3s 1.4s forwards ease-out;}  
.animation-apparition-a-propos-4.reverse{animation: apparition-a-propos-reverse .3s 1.2s forwards ease-out;}  
.animation-apparition-a-propos-5.reverse{animation: apparition-a-propos-reverse .3s 1.0s forwards ease-out;}  
.animation-apparition-a-propos-6.reverse{animation: apparition-a-propos-reverse .3s .8s forwards ease-out;}  
.animation-apparition-a-propos-7.reverse{animation: apparition-a-propos-reverse .3s .6s forwards ease-out;}  
.animation-apparition-a-propos-8.reverse{animation: apparition-a-propos-reverse .3s .4s forwards ease-out;}  
.animation-apparition-a-propos-9.reverse{animation: apparition-a-propos-reverse .3s .2s forwards ease-out;}  



@keyframes apparition-a-propos {from { opacity:0; scale: 0.2;}to { opacity:1; scale: 1;}}
@keyframes apparition-a-propos-reverse {from { opacity:1; scale: 1;}to { opacity:0; scale: 0.2;}}